* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
}

body {
  background-color: #f3a83b;
  color: #f3a83b;
}

.container {
  background: #fff;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

p#quote {
  font-size: 18px;
  margin: 3.5rem;
  font-weight: 600;
}

button {
  background: rgb(118, 117, 117);
  margin-left: 1rem;
}

#new-quote-form fieldset {
  border: none;
}

input#quote-inpt, input#author-inpt, form button {
  padding:0.5rem;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  border: none;
}

.container div {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  transform: translate(50%);
}

.container div button{
  margin: 0 auto;
  border: none;
  border-radius: 1rem;
  outline: none;
  padding: 0.2rem;
  
}

#new-quote {
  padding: 0.5rem;
  width: 30%;
  margin: rem auto 0;
}

p#author {
  right: 5%;
  position: absolute;
  top: 60%;
  
}

#image {
  width: 30px;
  height: 30px;
}

#image img {
  width: 100%;
  object-fit: contain;
}

#quote #quote-content {
  background-color: black;
  width: 20px;
  height: 20px;
}

#new-quote-form {
  padding: 3rem;
  margin: 2rem auto;
  width: 80%;
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 212, 214);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 1rem;
}

label {
  color: rgb(145, 97, 97);
  font-weight: bold;
  font-size: 0.9rem;
}
